body {
    background-color: antiquewhite;
    /* background-image: url(images/flower-bg.jpg); */
    margin-top: 0px;
    margin-bottom: 0px;
}

main {
    display: flex;
    flex-direction: column;
    
    background-color:  lightpink;
    width: 70%;
    margin: 0px auto;
    /* background-image: url(images/flower-bg.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100px 50px; */
    /* box-shadow: -10px 10px 5px gray; */
    box-shadow: 0px 0px 20px 20px gray;
     font-family: Dancing Script;

}

#rounded-img {
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    /* margin-left: auto;
    margin-right: auto; */
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: 300px; */
    margin: 0px auto;

    background-color: gray;
    width: 100%;
    
}

h1 {
    /* font: 30px Georgia; */
    font-size: 30px;
   
    font-weight: bolder;
    color: antiquewhite;
    text-align: center;
    /* margin: 30px auto;
    padding: 10px; */
}

form {
    /* display: flex;
    flex-direction: column; */
    width: 60%;
    background-color: white;
    margin: 25px auto;
    padding: 40px 40px;
    border: 2px solid gray;
    /* box-shadow: 10px 10px 5px lightblue; */
}

form  {
    text-align: center;
    /* font-family: Georgia, 'Times New Roman', Times, serif */
    /* font-family: Dancing Script; */
    /* display: block; */

}


#banner {
    width: 100%;
}

#attendeeName {
    width: 200px;
    height: 20px;
    margin: 5px;
    
}

/* label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* #attendanceLocation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

#submitForm {
    width: 25%;
    height: 25px;
    text-align: center;
}

#memoryDiv {
    text-align: center;
    margin: 40px 0px 0px;
    /* font-family: Dancing Script; */
    background-color: bisque;
    padding-bottom: 50px;
}

#favMemories {
    list-style-type: none;
}

#changeLanguage {
   text-align: right;
}